::ng-deep body {
  background-color: #F5F7FA;
}


.detalles , .estado, .caracteristicas, .transfondo{
  background-color:#FFFFFF;
}

.volver{
  background-color: #c1a7ff;
  color: white;
}
.volver:hover{
  background-color: #a883ff;
}

/* Asegura que los botones sean circulares y tengan el mismo tamaño */
.btn-round {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.character_character_background_background{
  margin-bottom: 21px;
}

.display-background-description{
  margin-bottom: 14px;
}
.character_character_background{
  padding: 14px 10.5px 14px 0px;
  margin-bottom: 1px;
}
