::ng-deep body {
  background-color: #F5F7FA;
  color: #6b32aa;
  border: none;
 
}

.add{
  background-color: #c1a7ff;
  color: white;
}

.add:hover{
  background-color: #a883ff;
}
.card-box{
  box-shadow: #F5F7FA;

  
}
.tarjeta:hover{
  background-color: #F5F7FA;
}

.card-body img {
  width: 45px;
  height: 45px;
  border: 2px solid white; /* Borde blanco */
  border-radius: 50%; /* Mantiene la imagen circular */
  box-shadow: 0 0 5px rgba(0, 0, 0, 20); /* Sombra suave para dar un efecto más flotante */
}

/* Reducir el padding de la tarjeta */
.card-body.tarjeta {
  padding: 0.75rem; /* Ajuste de espacio interno para hacer las tarjetas más compactas */
}

/* Reducir el tamaño de la imagen */
.card-body img {
  width: 45px;
  height: 45px;
}

/* Tamaño de fuente más pequeño */
.card-title {
  font-size: 0.9rem; /* Reducir el tamaño del título */
}

.card-text {
  font-size: 0.8rem; /* Reducir el tamaño del texto */
}

/* Reducción de los márgenes entre las tarjetas */
.card {
  margin-bottom: 0.5rem;
}

/* Sombra suave en las tarjetas */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
